:root {
  --clr-primary: #dc2625;
  --clr-primary-hover: #b91c1b;
}

.app {
  background-image: url(/public/image/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding-inline: 40px;
  display: flex;
  height: 10vh; 
  align-items: center;
  background-color: white;
}

.div-container {
  margin-block: 40px;
  margin-inline: 40px;
}

.focused-text {
  color: var(--clr-primary);
}

.strong {
  font-weight: bold;
}

.calculator {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 12px;
  opacity: 0.2;
}